body {
    background-color: #050505;
    color: white;

}

a {
  color: inherit;
  text-decoration: none;
}

#navbar {

    display: flex;
    justify-content: space-between;
    font-size: large;
    margin-left: 2rem;
    margin-right: 2rem;
    z-index: 0;

}
#navlinks {

    width: 20vw;
    display: flex;
    justify-content: space-between;

}

.navlink:hover {

    text-decoration: underline;
    
}

#herotext{
    width: 65vw;
    margin-top: 30vh;
    margin-left: 17.5vw;
    font-size: 3.5rem;
    line-height: 75%;
    position: relative; /* kan va felet hehe */
}

#hero {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    z-index: -1;

}

#heroImage {

    width: 75vw;
    filter: brightness(30%) opacity(100%);
    z-index: 0;
    position: fixed;
    justify-content: center;
    margin-top: auto;
    

}

#heroImageBlur {

    width: 75vw;
    filter: blur(20px) brightness(30%);
    z-index: 0;
    position: fixed;
    justify-content: center;
    margin-top: auto;
    

}



#shadowOverlay {

    height: 10rem;
    width: 100vw;
    box-shadow: inset 0px -200px 100px -100px black;
    z-index: 3;
    position: fixed;
    bottom: 0;
    left: 0;

}